// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/styles/styles_theme-colors.scss' as theme;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
    &.light-theme {
        @include mat.theme((
            color: (
            theme-type: light,
            primary: theme.$primary-palette,
            tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
    }
    
    &.dark-theme {
        @include mat.theme((
            color: (
            theme-type: dark,
            primary: theme.$primary-palette,
            tertiary: theme.$tertiary-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
    }

    @include mat.card-overrides((
        title-text-weight: bold,
        subtitle-text-weight: bold
    ));
}

.spacer {
    flex: 1;
}