<mat-card class="home" *ngFor="let sample of samples">
    <mat-card-title>
        <h3>Welcome to my Demo App!</h3>
    </mat-card-title>
    <mat-card-content>
        <p>My name is {{sample.name}}</p>
        <img [src]="sample.image" class="surely-stronk" />
    </mat-card-content>
    <mat-card-actions>
        <ng-container *ngIf="!authorized; else authorizedTemplate">
            <button mat-flat-button color="primary" (click)="authorizeUser()">
                <mat-icon>lock</mat-icon>
                Authorize
            </button>
        </ng-container>
        <ng-template #authorizedTemplate>
            <button mat-flat-button color="accent" (click)="logout()">
                <mat-icon>logout</mat-icon>
                Log Out
            </button>
        </ng-template>
    </mat-card-actions>
</mat-card>