@for (sample of samples; track sample) {
<mat-card class="home" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{sample.name}}</mat-card-title>
        <mat-card-subtitle>{{sample.player}}</mat-card-subtitle>
        <img mat-card-avatar [src]="sample.image" class="header-image" />
    </mat-card-header>
    <mat-card-actions>
        @if (!authorized) {
            <button mat-flat-button type="button" (click)="authorizeUser()">
                <mat-icon>lock</mat-icon>
                Authorize
            </button>
        } @else {
            <button mat-stroked-button type="button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                Log Out
            </button>
        }
    </mat-card-actions>
</mat-card>
}