<mat-drawer-container class="demo-app-container">
    <mat-drawer #drawer mode="push">
        <!-- TODO: Navigation -->
        Drawer Works!
    </mat-drawer>
    <mat-drawer-content class="demo-app-drawer-content">
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Angular Demo App</span>
            <span class="spacer"></span>
            <!-- TODO: add sign up/login buttons + User info buttons -->
            <button mat-button class="theme-menu" [matMenuTriggerFor]="themeMenu">
                <ng-container [ngSwitch]="currentTheme">
                    <ng-container *ngSwitchCase="theme.dark">
                        <ng-content *ngTemplateOutlet="darkTheme"></ng-content>
                    </ng-container>
                    <ng-container *ngSwitchCase="theme.light">
                        <ng-content *ngTemplateOutlet="lightTheme"></ng-content>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <ng-content *ngTemplateOutlet="autoTheme"></ng-content>
                    </ng-container>
                </ng-container>
            </button>
        </mat-toolbar>
        <span class="demo-app-outlet">
            <router-outlet></router-outlet>
        </span>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #themeMenu="matMenu" class="demo-app-theme-menu">
    <button mat-menu-item (click)="onThemeChange(theme.auto)">
        <ng-content *ngTemplateOutlet="autoTheme"></ng-content>
    </button>
    <button mat-menu-item (click)="onThemeChange(theme.dark)">
        <ng-content *ngTemplateOutlet="darkTheme"></ng-content>
    </button>
    <button mat-menu-item (click)="onThemeChange(theme.light)">
        <ng-content *ngTemplateOutlet="lightTheme"></ng-content>
    </button>
</mat-menu>


<ng-template #autoTheme>
    <mat-icon>contrast</mat-icon>
    <span>OS Default</span>
</ng-template>
<ng-template #darkTheme>
    <mat-icon>dark_mode</mat-icon>
    <span>Dark</span>
</ng-template>
<ng-template #lightTheme>
    <mat-icon>light_mode</mat-icon>
    <span>Light</span>
</ng-template>